@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(71, 71, 69);
 }
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.about:before{
    content: "";
    /* display: block; */
    width: 70px;
    height: 3px;
    background: rgb(255, 208, 0);
    position: absolute;
    right: 980px;
    /* left: 5%; */
    top: 26.5%;
}
.content-section{
    float: left;
    width: 55%;
}
.content h3{
    color: rgb(169, 197, 223);
}
.image-section img{
    width: 80%;
    height: auto;
    padding-bottom: 30%;
    margin-left: 10%;
}
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 30px;
    background-color: rgb(51, 150, 27);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}
.whatsapp_float:hover{
    color: rgb(5, 5, 5);
}
  .whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px){
.whatsapp-icon {
    margin-top: 10px;
}
.whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
 }
}